USE [master]
GO
/****** Object:  Database [CRUDFormGrid]    Script Date: 9/17/2024 4:42:05 PM ******/
CREATE DATABASE [CRUDFormGrid]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CRUDFormGrid', FILENAME = N'G:\program files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CRUDFormGrid.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CRUDFormGrid_log', FILENAME = N'G:\program files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CRUDFormGrid_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CRUDFormGrid].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CRUDFormGrid]
GO
/****** Object:  Table [dbo].[barno]    Script Date: 9/17/2024 4:42:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[barno](
	[name] [nvarchar](50) NOT NULL,
	[department] [nvarchar](50) NOT NULL,
	[gender] [nvarchar](50) NOT NULL,
	[stutus] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_barno] PRIMARY KEY CLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[grid]    Script Date: 9/17/2024 4:42:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[grid](
	[name] [varchar](50) NOT NULL,
	[country] [varchar](50) NULL,
	[gender] [varchar](50) NULL,
	[hobby] [varchar](50) NULL,
	[stutus] [varchar](50) NULL
) ON [PRIMARY]
GO
USE [master]
GO
